* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    display: grid;
    place-items: center;
    padding: 2.5rem;
}
main {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
}
header {
    background-color: #dadbf1;
    border-radius: 10px 10px 0 0;
}
nav {
    width: 100%;
    height: 80px;
    background-color: #000;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav .logo {
    margin-right: 5px;
}
nav .links {
    display: flex;
    align-items: center;
    padding: 0 40px;
}
nav a {
    color: #fff;
    text-decoration: none;
    height: 100%;
}
nav a:hover {
    color: #dadbf1;
}
nav span {
    color: #fff;
    margin: 0 5px;
}
nav .links .btnRequest, .btnLogin {
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    margin-left: 10px;
    padding: 10px 13px;
    cursor: pointer;
}
nav .links .btnRequest {
    background-color: #000;
    border: 1px solid #fff;
}
nav .links .btnLogin {
    background-color: #4C5FD5;
    border: none;
    transition: all 0.2s ease-in-out;
}
nav .links .btnLogin:hover {
    background-color: #dadbf1;
    color: #000;
    transition: all 0.2s ease-in-out;
}
section .title {
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
section h2 {
    font-size: 4rem;
    font-weight: 400;
}
.inputSearch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.inputSearch input {
    width: 580px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #dadbf1;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.inputSearch input:focus {
    outline-color: rgba(0, 0, 255, 0.521);
}
.inputSearch .btnArrow {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #dadbf1;
}
.abstractGrid {
    height: 700px;
    width: 100%;
    display: grid;
    place-content: center;
    gap: 50px;
    grid-template-columns: auto auto;
    padding: 3rem;
}
.abstractBox img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.abstractBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 450px;
    height: auto;
}
.boxBody h4 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}
.boxBody p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.boxBody a {
    text-align: center;
    text-decoration: none;
}
.boxBody a:hover {
    border-bottom: 1px solid blue;
}
footer {
    background-color: #000;
    border-radius: 0 0 10px 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 250px;
    padding: 3rem;
}
.abstractBoxFooter {
    display: flex;
    flex-direction: column;
}
.abstractBoxFooter h5 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.abstractBoxFooter a {
    position: relative;
    font-size: 0.9rem;
    color: #fff;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}
.abstractBoxFooter a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #fff;
    height: 1px;
    width: 0;
    transition: 0.3s;
}
.abstractBoxFooter a:hover::after {
    width: 90%;
}